@import "tailwindcss";

html { scroll-behavior: smooth; }

@keyframes waveFloat {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(6px); }
}
.animate-wave {
  animation: waveFloat 6s ease-in-out infinite;
}
body {
  background: #f0f9ff; /* sky-100 */
}
